<!-- Content Header (Page header) -->
<section class="content-header">
<h1>
    <%= content(assigns, :header) %>
    <small><%= content(assigns, :subheader) %></small>
</h1>
<!-- <ol class="breadcrumb"> -->
<!-- <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li> -->
<!-- <li class="active">Here</li> -->
<!-- </ol> -->
</section>

<!-- Main content -->
<section class="content container-fluid">
