<!-- User Account Menu -->
<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <!-- The user image in the navbar-->
    <img src="<%= @user.image_url %>" class="user-image" alt="User Image">
    <!-- hidden-xs hides the username on small devices so only the image appears. -->
    <span class="hidden-xs"><%= @user.name %></span>
    </a>
    <ul class="dropdown-menu">
    <!-- The user image in the menu -->
    <li class="user-header">
        <img src="<%= @user.image_url %>" class="img-circle" alt="User Image">

        <p>
            <%= @user.name %><%= if @user.role, do: " - #{@user.role}" %>
        <small><%= if @user.description, do: @user.description %></small>
        </p>
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
        <div class="pull-left">
        <a href="<%= @user.profile_link %>" class="btn btn-default btn-flat">Profile</a>
        </div>
        <div class="pull-right">
        <a href="<%= @user.sign_out_link %>" class="btn btn-default btn-flat">Sign out</a>
        </div>
    </li>
    </ul>
</li>
