<header class="main-header">

    <%= render(__MODULE__, "logo.html", assigns) %>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <%= render(__MODULE__, "header_user.html", assigns) %>

        </ul>
    </div>
    </nav>
</header>
