<!-- search form (Optional) -->
<%= form_for @conn, @search, [as: :search, class: "sidebar-form"], fn f -> %>
    <div class="input-group">
    <%= text_input f, :for, class: "form-control", placeholder: "Search..." %>
    <span class="input-group-btn">
        <%= content_tag(:i, "", class: "fa fa-search") |> submit(name: "search", id: "search-btn", class: "btn btn-flat") %>
        </span>
    </div>
<% end %>
<!-- /.search form -->
