<!-- Sidebar Menu -->
<ul class="sidebar-menu" data-widget="tree">

    <%= if @menu.header do %>
        <li class="header"><%= @menu.header %></li>
    <% end %>
    <!-- Optionally, you can add icons to the links -->

    <%= for item <- @menu.items do %>
        <%= sidebar_menu_link(item)  %>
    <% end %>

</ul>
<!-- /.sidebar-menu -->
