<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <%= render(__MODULE__, "sidebar_user.html", assigns) %>
        <%= search_form(assigns) %>
        <%= render(__MODULE__, "sidebar_menu.html", assigns) %>

    </section>
    <!-- /.sidebar -->
</aside>
