<!-- Sidebar user panel (optional) -->
<div class="user-panel">
    <div class="pull-left image">
    <img src="<%= @user.image_url %>" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
    <p><%= @user.name %></p>
    <!-- Status -->
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
