<li class="treeview <%= @parent.class %>">
<a href="#"><i class="<%= @parent.icon %>"></i> <span><%= @parent.label %></span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
</a>

    <% style = if @parent.class, do: "display: block", else: "" %>
    <% class = if @parent.class, do: "menu-open", else: "" %>
    <%= tag(:ul, class: "treeview-menu #{class}", style: style) %>

        <%= for item <- @items do %>
            <%= sidebar_menu_link(item)  %>
        <% end %>
    </ul>
</li>
