<%= render(__MODULE__, "body_open.html", assigns) %>
<%= render(__MODULE__, "header.html", assigns) %>
<%= render(__MODULE__, "sidebar.html", assigns) %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
